@model InCity.Models.CreatePlaceViewModel

@{
    ViewBag.Title = "Новое место";
}

<script src="../../Scripts/jquery-1.10.2.js"></script>
<script src="../../Scripts/bootstrap-datepicker.js"></script>
<link href="../../Content/datepicker.css" rel="stylesheet" type="text/css" />


<h2>Новое место</h2>

@using (Html.BeginForm("NewPlace", "ContentFiller", FormMethod.Post, new { enctype = "multipart/form-data", name = "myform" }))
{
    <div id="result">
        @Html.AntiForgeryToken()

        <div>
            @Html.HiddenFor(model => model.mId)
        </div>

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="control-label col-md-2"><b>Заголовок</b></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.mTitle, new { @class = "form-control", placeholder = "Введите заголовок" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"><b>Адрес</b></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.mAddress, new { @class = "form-control", placeholder = "Введите адрес" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"><b>Широта</b></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.mLatitude, new { @class = "form-control", placeholder = "Введите широту" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"><b>Долгота</b></div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.mLongitude, new { @class = "form-control", placeholder = "Введите долготу" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"><b>Постер</b></div>
                <div class="col-md-10">
                    @if (Model.mHeaderId == 0)
                    {
                        <input type="file" name="file" id="file" style="width: 100%; display:inline" />
                        <input type="submit" value="Загрузить" formaction="@Url.Action("NewPlaceDownloadImage")" class="submit btn btn-default" />
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.mHeaderId)
                        <div style="display: inline; font-size:17px; ">
                            @Model.mHeaderId
                            .jpg
                            <div class="cancel-btn" style="display: inline; padding:10px">
                                <span class="glyphicon glyphicon-trash" onclick="document.myform.action='@Url.Action("NewPlaceRemoveImage")'; document.myform.submit();"></span>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <table width="100%" style="background-color: #eee; padding: 10px">
                <tr>
                    <td width="100px" style="padding-left: 15px; padding-right: 10px">
                        <h3>Типы</h3>
                    </td>
                    <td width="60px" class="save-btn" onclick="document.myform.action='@Url.Action("NewPlaceAddType")'; document.myform.submit();">
                        <h3><span class="glyphicon glyphicon-plus"></span></h3>
                    </td>
                    <td width="60px" class="cancel-btn" onclick="document.myform.action='@Url.Action("NewPlaceRemoveType")'; document.myform.submit();">
                        <h3><span class="glyphicon glyphicon-minus"></span></h3>
                    </td>
                    <td></td>
                </tr>
            </table> 
            <div class="form-group">
                @{Html.RenderPartial("TypesList", Model);}
            </div>

            <table width="100%">
                <tr>
                    <td width="50%" class="cancel-btn" onclick="location.href='/ContentFiller?pPass=Amaterassu11071959'" style="padding: 5px;">
                        <h3><span class="glyphicon glyphicon-remove"></span></h3>
                    </td>
                    <td width="50%" class="save-btn" onclick="document.myform.action='@Url.Action("NewPlaceSave")'; document.myform.submit();" style="padding: 5px;">
                        <h3><span class="glyphicon glyphicon-ok"></span></h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
