@model IEnumerable<InCity.Models.TagModel>

@{
    ViewBag.Title = "Список тегов";
}

<h2>Список тегов</h2>

<p>
    @Html.ActionLink("Создать", "NewTag", new { pPass = "Amaterassu11071959" })
</p>
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mTitle)
            [ 
            @Html.ActionLink("Изменить", "NewTag", new { pId = item.mId, pPass = "Amaterassu11071959" }) |
            @Html.ActionLink("Удалить", "RemoveTag", new { pId = item.mId, pPass = "Amaterassu11071959" })
             ]
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Назад к панели администратора", "Index", new { pPass = "Amaterassu11071959" })
</div>