@model InCity.Models.EventsListViewModel
@{
    ViewBag.Title = "События";
}

<div class="jumbotron" style="font-size: 15px; font-family: 'Helvetica';">
    <h2 style="margin-top: -20px">События</h2>
    <table>
        <tr>
            <td>
                <div class="single"></div>
            </td>
            <td style="width: 100%;">
                <div class="row" style="margin: 10px; font-size: 30px">
                    @foreach(var tag in Model.mTagsList)
                    {
                        
                            int length = 200;
                            string title = tag.mTitle.Split(' ')[0];
                        
                            if (title.Length < 5)
                            {
                                length = 200;
                            }
                            else
                            if (title.Length < 7)
                            {
                                length = 225;
                            }
                            else
                            if (title.Length < 8)
                            {
                                length = 250;
                            }
                            else
                            if (title.Length < 9)
                            {
                                length = 275;
                            }
                            else
                            {
                                length = 300;
                            }

                            string modelJSON = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model);
                            string tagJSON = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(tag);

                            if (Model.mChoosedTagsList.Where(t => t.mId == tag.mId).Count()>0)
                            {        
                                @Html.ActionLink(@tag.mTitle, "RemoveTag", "Event", new { pModel = modelJSON, pTag = tagJSON }, new { @class = "col-md-6 btn btn-primary",
                                style = "margin-right: 10px; margin-bottom: 10px; width:" + @length + "px; font-size: 25px"})
                            }
                            else
                            {
                                @Html.ActionLink(@tag.mTitle, "AddTag", "Event", new { pModel = modelJSON, pTag = tagJSON }, new { HttpMethod = "POST",@class = "col-md-6 btn btn-default",
                                style = "margin-right: 10px; margin-bottom: 10px; width:" + @length + "px; font-size: 25px"})
                            }
                    }
                </div>
            </td>
        </tr>
    </table>

    <script>
        $('.single').pickmeup({
            flat: true
        });
    </script>

</div>

<table class="table">

@foreach (var item in Model.mEventsList) {
    <tr>
        <td>
            <h4>@Html.DisplayFor(m => item.mTitle)</h4>
            
            @Html.DisplayFor(m => item.mStartDate)
            -
            @Html.DisplayFor(m => item.mEndDate)
            <br />
            @Html.DisplayFor(m => item.mDescription)
            <br />
            @foreach (var place in item.mPlace)
            { 
                @Html.ActionLink(place.mTitle, "Show", "Place", new { pId = place.mId }, new { })
            }
        </td>
    </tr>
}

</table>
